#navbar {
  background-color: rgb(5, 25, 60);
}

.blank-space {
  height: 5vh;
  width: 100vw;
}

.panel-heading {
  background-color: rgb(5, 25, 60) !important;
}

.pan {
  border-color: rgb(5, 25, 60) !important;
  display: none;
}

a {
  color: white !important;
}