{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/travelapp.css') }}">
{% endblock %}
{% block title %}
{% endblock %}

{% block navbar %}
<div id="navbar" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div id="header" class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('home') }}">TravelApp</a>
	</div>
	<ul class="nav navbar-nav navbar-right">
      <li><a href="{{ url_for('output') }}">OUTPUT</a></li>
      <li><a href="{{ url_for('input') }}">INPUT</a></li>
	</ul>
  </div>
</div>
{% endblock %}

{% block content %}
<div id="middle-container" class="column container" align="center">
  <div id="inner-container" class="row container" align="center">
    <div id="core-container"class="column container" align="center">
      <div id="widget-container" class="row container" align="center">
        {% block widget %}{% endblock %}
      </div>
    </div>
  </div>
</div>
{% block footer %}
  <footer id="footer" class="footer navbar-fixed-bottom">
    <div id="footer-container" class="container">
	  <span>Thank you for using TravelApp!</span>
    </div>
  </footer>
{% endblock %}
{% endblock %}

{% block scripts %}
{{ super() }}
  <script src="{{ url_for('static', filename='styles/travelapp.css') }}"></script>
{% endblock %}