<!DOCTYPE html>

<!-- Reworked -->

<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/travelapp.css') }}">
    {% block title %}{% endblock %}
</head>
  
<body>
  <div id="outer-container">
    <nav id="navbar">
      <div id="logo-container">
        <a href="#">HOME</a>
      </div>
      <div id="link-container">
        <a href="#">INPUT</a>
        <a href="#">OUTPUT</a>
      </div>
    </nav>
    <div id="middle-container">
      <div id="inner-container">
        <div id="widget-container">
          <div id="content-container">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type=text/javascript src="{{ url_for('static', 
    filename='jquery.js') }}"></script>
</body>
</html>