<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/travelapp.css') }}">
  <title>TravelApp</title>
</head>
  
<body>
  <div id="outer-container">
    <nav id="navbar">
      <div id="logo-container">
        <a href="#">LOGO</a>
      </div>
      <div id="link-container">
        <a href="#">APP</a>
        <a href="#">ABOUT</a>
      </div>
    </nav>
    <div id="middle-container">
      <div id="inner-container">
        <div id="item-container">
          <div id="input-output-container">
            <form id="input" action="" method="post" novalidate>
              {{ form.hidden_tag() }}
              <p id="label">
                {{ form.code.label }}
              </p>
			  <p id="code">
                {{ form.code(size=6) }}
				{% for error in form.code.errors %}
				<br>
				<p class="error-details">[{{ error }}]</p>
				<br>
				{% endfor %}
              </p>
              <p id="submit">{{ form.submit() }}</p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
  
</html>