<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/travelapp.css') }}">
  <title>TravelApp</title>
</head>
  
<body>
  <div id="outer-container">
    <nav id="navbar">
      <div id="logo-container">
        <a href="#">LOGO</a>
      </div>
      <div id="link-container">
        <a href="#">APP</a>
        <a href="#">ABOUT</a>
      </div>
    </nav>
    <div id="middle-container">
      <div id="inner-container">
        <div id="item-container">
          <div id="input-output-container">
		    {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type=text/javascript src="{{ url_for('static', 
    filename='jquery.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', 
    filename='lookups.js') }}"></script>
</body>
</html>