{% extends "output.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block outputform %}
  {{ wtf.quick_form(form) }}
{% endblock %}

{% block resdisplay %}
  <div id="reservation-container"</div>
    <div class="blank-space"></div>
	<div id="panel-1" class="pan panel panel-primary">
	  <div id="panel-heading-1" class="pan panel-heading">
	    <h3 id="panel-title-1" class="pan panel-title"></h3>
	  </div>
	  <div id="panel-body-1" class="pan panel-body"></div>
	</div>
	<div class="blank-space"></div>
	<div id="panel-2" class="pan panel panel-primary">
	  <div id="panel-heading-2" class="pan panel-heading">
	    <h3 id="panel-title-2" class="pan panel-title"></h3>
	  </div>
	  <div id="panel-body-2" class="pan panel-body"></div>
	</div>
	<div class="blank-space"></div>
	<div id="panel-3" class="pan panel panel-primary">
	  <div id="panel-heading-3" class="pan panel-heading">
	    <h3 id="panel-title-3" class="pan panel-title"></h3>
	  </div>
	  <div id="panel-body-3" class="pan panel-body"></div>
	</div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type=text/javascript src="{{ url_for('static', 
    filename='lookup.js') }}"></script>
{% endblock %}